@use "@/styles/abstracts/size";
@use "@/styles/abstracts/color";
@use "@/styles/abstracts/spacing";
@use "@/styles/abstracts/breakpoint";

@use "@/styles/base/typography";
@use "@/styles/layout/container";
@use "@/styles/layout/print";
@use "@/styles/components/header";
@use "@/styles/components/submit-form";
@use "@/styles/components/register-login-form";
@use "@/styles/components/filter";
@use "@/styles/components/cart-item";
@use "@/styles/components/loading" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

html,
body {
  box-sizing: border-box;
  background: color.$light;
  color: color.$dark;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: min-content;
  max-width: 100%;
  overscroll-behavior: none;
  user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}

.dark {
  body {
    background: color.$dark;
    color: color.$light;
  }
}
