$base: 4px;

// Size Variables
$sp01: $base * 0.25;
$sp02: $base * 0.5;
$sp04: $base;
$sp06: $base * 1.5;
$sp08: $base * 2;
$sp10: $base * 2.5;
$sp12: $base * 3;
$sp14: $base * 3.5;
$sp16: $base * 4;
$sp18: $base * 4.5;
$sp20: $base * 5;
$sp22: $base * 5.5;
$sp24: $base * 6;
$sp26: $base * 6.5;
$sp28: $base * 7;
$sp30: $base * 7.5;
$sp32: $base * 8;
$sp34: $base * 8.5;
$sp36: $base * 9;
$sp38: $base * 9.5;
$sp40: $base * 10;
$sp42: $base * 10.5;
$sp44: $base * 11;
$sp46: $base * 11.5;
$sp48: $base * 12;
$sp50: $base * 12.5;
$sp52: $base * 13;
$sp54: $base * 13.5;
$sp56: $base * 14;
$sp58: $base * 14.5;
$sp60: $base * 15;
$sp62: $base * 15.5;
$sp64: $base * 16;
$sp66: $base * 16.5;
$sp68: $base * 17;
$sp70: $base * 17.5;
$sp72: $base * 18;
$sp74: $base * 18.5;
$sp76: $base * 19;
$sp80: $base * 20;
$sp-max-desktop: $base * 335;
