@use "@/styles/abstracts/spacing";

.container-wrapper {
  max-width: 83.75rem;
  padding: 0 spacing.$spacing-s spacing.$spacing-s spacing.$spacing-s;
  margin: auto;

  .container {
    max-width: 40rem;
    margin: auto;
  }
}
