@use "sass:color";

$dark: #444;
$light: #f2f2f2;
$light50: #dad6d6;
$dark50: #808080;
$gold: #ecb732;
$blue-violet: #8a2be2;
$danger: #e63946;
$gradient: linear-gradient(135deg, #8a2be2 0%, #ecb732 100%);
