@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
  overscroll-behavior: none;
}
body * {
  font-family: "Poppins";
}

header {
  text-align: center;
  background: blueviolet;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 80px;
  transform: rotate(-10deg);
  transition: .5s linear all;
  cursor: pointer;
}

header img:hover {
  transform: rotate(3.142rad);
  transition: .5s linear all;
}

header h1 {
  margin: 0;
  font-size: 48px;
  padding-top: 25px;
  margin-left: 15px;
  color: white;
  transform: rotate(2deg);
}

.is-loading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  gap: 10px;
  justify-content: center;
  vertical-align:middle;
  position: absolute;
  top: 50%;
  font-size: 28px;
}

.submit-form {
  display: flex;
  margin: auto;
  width: 70%;
  gap: 10px;
  justify-content: center;
  padding: 40px 0 20px 0;
  border: none;
  box-shadow: none;
}

.submit-form input {
  border: none;
  width: inherit;
  padding: 10px;
}

.submit-form input:focus,
.submit-form input:active {
  outline: none;
  box-shadow: none;
}


.submit-form button {
    background-color: #ecb732;
    border: none;
    cursor: pointer;
    width: 50px;
}

.submit-form button:hover {
    background-color: #dcb043;
}

.filter {
  max-width: 640px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.filter button {
  color: white;
  background: blueviolet;
  border-radius: 5px;
  border:none;
  cursor: pointer;
  padding: 10px;
  transition: .2s linear all;

}

.filter button:hover {
  scale: 1.04;
  transition: .2s linear all;
}
.filter button:focus,
.filter button:active {
  color: #d4cdcd;
}

.task-list {
  max-width: 640px;
  margin: 20px auto;
  padding: 0 12px;
}

.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task h3, .task .icons {
  display: inline-block;
}

.task .icons {
  text-align: right;
}

.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}
.task .fav {
  color: red;
}

.task i.active,
.task i:hover
{
  color: #ecb732;
}

@media only screen and (max-width: 767px) {

  header h1 {
  font-size: 28px;
}
  .is-loading {
  font-size: 20px;
}
}