@use "@/styles/abstracts/breakpoint";
@use "@/styles/abstracts/color";
@use "@/styles/abstracts/spacing";
@use "@/styles/abstracts/size";

.cart-items {
  padding: spacing.$spacing-xxs spacing.$spacing-s;
  background: color.$light;
  margin-top: spacing.$spacing-s;
  border-radius: size.$sp12;
  box-shadow: size.$sp02 size.$sp04 size.$sp24 color.$dark;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s linear all;

  .cart-items:hover {
    scale: 1.1;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 11fr 2fr;
h3,
.icon {
  display: inline-block;
  word-break: break-word;
}

.icon {
  align-content: center;
  text-align: right;
}

i {
  font-size: 1.4em;
  margin-left: spacing.$spacing-xxs;
  cursor: pointer;
  color: color.$dark50;
  transition: 0.2s linear all;
}

i:hover {
  scale: 1.04;
}

.fav {
  color: color.$danger;
}

i.active,
i:hover {
  color: color.$gold;
}
}
}

.dark {

  .cart-item {
    color: color.$light;
    box-shadow: size.$sp02 size.$sp04 size.$sp24 color.$light;
  }
  h3 {
    color: color.$dark;
  }
}