@use "@/styles/abstracts/breakpoint";
@use "@/styles/abstracts/color";
@use "@/styles/abstracts/spacing";
@use "@/styles/abstracts/size";

.filter {
  display: flex;
  gap: spacing.$spacing-xs;
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  padding-top: spacing.$spacing-xl;
}

.filter button {
  color: color.$light;
  background: color.$blue-violet;
  border-radius: spacing.$spacing-base;
  border: none;
  cursor: pointer;
  padding: spacing.$spacing-xxs;
  transition: 0.2s linear all;
}

.filter button.active {
  background-color: color.$gold;
  color: color.$light;
  font-weight: bold;
  box-shadow: 0 size.$sp02 size.$sp04 color.$dark;
  scale: 1.2;
}

.filter button.active:hover {
  scale: 1.2;
}

.filter button:hover {
  scale: 1.05;
}

.filter button.delete-all {
  background: color.$red;
  color: color.$light;
}
