@use "@/styles/abstracts/breakpoint";
@use "@/styles/abstracts/color";
@use "@/styles/abstracts/spacing";
@use "@/styles/abstracts/size";

.filter {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-xs;
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  padding-top: spacing.$spacing-xl;

  @include breakpoint.media-breakpoint-up(sm) {
    flex-direction: row;
    }
}

.filter button {
  display: flex;
  flex-direction: row;
  color: color.$light;
  background: color.$blue-violet;
  border-radius: size.$sp04;
  border: none;
  cursor: pointer;
  padding: spacing.$spacing-xs;
  transition: 0.2s linear all;
  align-items: center;
  gap: spacing.$spacing-xxs;

  @include breakpoint.media-breakpoint-up(sm) {
    padding: spacing.$spacing-xxs;
    }
}

.filter button:hover {
  transform: scale(1.04);
}

.filter button.active {
  background-color: color.$gold;
  color: color.$light;
  font-weight: bold;
  box-shadow: 0 size.$sp02 size.$sp04 color.$dark;
  transform: scale(1.04);

  @include breakpoint.media-breakpoint-up(sm) {
    transform: rotate(-7deg);
    }
}
.filter button.delete-all {
  background: color.$danger;
  color: color.$light;
}
