header {
  position: relative;
  text-align: center;
  background: blueviolet;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    transform: rotate(-10deg);
    transition: 0.5s linear all;

    &:hover {
      transform: rotate(350deg) !important;
    }
  }
  img {
    max-width: 80px;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    font-size: 48px;
    padding-top: 25px;
    margin-left: 15px;
    color: white;
    transform: rotate(2deg);
  }

  .theme-toggle {
    position: absolute;
    right: 12px;
    top: 85px;
    cursor: pointer;
    padding: 8px;
    background: transparent;
    border: none;
    transition: 0.3s ease-in-out transform;

    &:hover {
      transform: rotate(360deg);
    }

    i {
      color: #ecb732;
      font-size: 28px;
    }
  }
}
