@use "@/styles/abstracts/breakpoint/variables";
@use "@/styles/abstracts" as *;

header {
  position: relative;
  text-align: center;
  background: blueviolet;
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    @include media-breakpoint-up(sm) {
      transform: rotate(-10deg);
      transition: 0.5s linear all;
    }

    &:hover {
      @include media-breakpoint-up(sm) {
        transform: rotate(350deg) !important;
      }
    }
  }
  img {
    max-width: 35px;
    max-height: 35px;
    @include media-breakpoint-up(sm) {
      max-width: 70px;
      max-height: 70px;
      cursor: pointer;
    }
  }

  h1 {
    margin: 0;
    font-size: 20px;
    color: white;
    transform: rotate(2deg);

    @include media-breakpoint-up(sm) {
      font-size: 28px;
      padding-top: 25px;
      margin-left: 15px;
    }
  }

  .theme-toggle {
    position: absolute;
    right: 12px;
    top: 0;
    cursor: pointer;
    padding: 8px;
    background: transparent;
    border: none;
    transition: 0.3s ease-in-out transform;

    &:hover {
      transform: rotate(360deg);
    }

    i {
      color: #ecb732;
      font-size: 28px;
    }

    @include media-breakpoint-up(sm) {
      top: 20px;
      right: 12px;
    }
  }
}
