@use "@/styles/abstracts/breakpoint";
@use "@/styles/abstracts/color";
@use "@/styles/abstracts/spacing";
@use "@/styles/abstracts/size";

header {
  position: relative;
  text-align: center;
  background: color.$blue-violet;
  display: flex;
  padding: 0 spacing.$spacing-s;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    @include breakpoint.media-breakpoint-up(sm) {
      transform: rotate(-10deg);
      transition: 0.5s linear all;
    }

    &:hover {
      @include breakpoint.media-breakpoint-up(sm) {
        transform: rotate(350deg) !important;
      }
    }
  }
  img {
    max-width: size.$sp36;
    max-height: size.$sp36;
    @include breakpoint.media-breakpoint-up(sm) {
      max-width: size.$sp72;
      max-height: size.$sp72;
      cursor: pointer;
    }
  }

  h1 {
    margin: 0;
    font-size: 20px;
    color: color.$light;

    @include breakpoint.media-breakpoint-up(sm) {
      font-size: 28px;
      padding-top: spacing.$spacing-s;
      margin-left: spacing.$spacing-xs;
    }
  }

  .theme-toggle {
    position: absolute;
    right: spacing.$spacing-xs;
    top: 0;
    cursor: pointer;
    padding: spacing.$spacing-xxs;
    background: transparent;
    border: none;
    transition: 0.3s ease-in-out transform;

    &:hover {
      transform: rotate(360deg);
    }

    i {
      color: color.$gold;
      font-size: 28px;
    }

    @include breakpoint.media-breakpoint-up(sm) {
      top: spacing.$spacing-s;
      right: spacing.$spacing-xs;
    }
  }
}
